.movies-list {

    padding: 2rem 0;
    column-count: 4;
    column-gap: 1em;
}

.movies-list .movie-item {


    margin: 0 1rem 1rem 0;
    /* display: inline-block; */
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
    break-inside: avoid;
}

.card.movie-item {
    padding: .5rem;
    background-color: transparent;
    border: none;
    color: var(--bg);
    transition: transform .5s;
}

.card {
    border: none;
    background-color: var(--primary);
}

.card.movie-item:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card-img-container {
    padding: 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-container .card-img-top {
    width: 100%;
    border-radius: 5px;
}

.card-title {
    font-weight: 500;
    font-size: 2rem;
}

.card-text {
    font-weight: 300;
    font-size: 1.4rem;
}

@media (max-width: 992px) {
    .movies-list {
        column-count: 3;
    }
}

@media (max-width: 576px) {
    .movies-list {
        column-count: 2;
    }
}

@media (max-width: 300px) {
    .movies-list {
        column-count: 1;
    }
}

.see-more {
    color: var(--color);
}